// Example test config - requires a minimal set of input data (to be hosted in ikmb/nf-testdata)
params {

	samples = "https://raw.githubusercontent.com/ikmb/nf-testdata/master/deepvariant/samples.csv"
	intervals = "https://raw.githubusercontent.com/ikmb/nf-testdata/master/deepvariant/test-targets.bed"
	email = "m.hoeppner@ikmb.uni-kiel.de"
	run_name = "pipeline_test"
	assembly = "GRCh38_p14"
	max_cpus = 6
}
